{% extends "base.html" %}
{% block content %}
    <div class="title">
        <h1><strong>About Us <i class="far fa-comment-dots"></i></strong></h1>
    </div>
        <div class="container-fluid img-outer">
            <div class="image image-about">
                <div class="cover-about-text">
                    <h2>Ethics</h2>
                    <h2>Ecology</h2>
                    <h2>Transparence</h2>
                </div>
            </div>
        </div>
        <div class ="page-about-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="title">
                            <h2> What we believe in
                            </h2>
                        </div>
                    </div>
                    <div class="large-div col-lg-6 col-11">
                        <div class="notAnimated animateBlock rightAlign right text-about">
                            <p>All of us are in charge of our future & the one of our children, and that starts
                                by ethical & commited <strong>daily, small decisions</strong>, (<em>like where should I
                                buy my vegetables or my socks</em>) - and these are <strong>your</strong> impactful decisions!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row flex-column-reverse flex-lg-row">
                    <div class="col-lg-6 col-11">
                        <div class="notAnimated animateBlock leftAlign left text-about">
                            <p>While organic food is more available and democratized, 
                                we consider it is still pretty hard to find where
                                to buy new <strong>sustainables, ethical, respectful & organic clothes</strong> - clothes you can <strong>trust</strong> in. 
                                <br><br>
                                This catalogue is here to guide you by <strong>listing</strong> brands fulfilling social & environmental criterion
                                - in order for you to reveal your <strong>world-saving superpowers.</strong>
                            </p>
                            <a class="btn" href="{{ url_for('get_brands') }}" role="button">Sustainable brands catalogue</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="title title-what">
                            <h2> What we do</h2>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="title ">
                            <h2> What you do
                            </h2>
                        </div>
                    </div> 
                    <div class="col-lg-6 col-11 margin-bottom-about">
                        <div class="notAnimated animateBlock rightAlign right text-about">
                            <p>Because we are always stronger together : this catalogue is an <strong>open source</strong> that all of us can improve.
                                Please do not hesitate to <strong>share your own favourite brand</strong> if it doesn't appear in the catalogue<br>
                                It's extra-simple : <strong><u>register</u></strong> today to start participating to this wild adventure!
                            </p>
                            <a class="btn" href="{{ url_for('register') }}" role="button">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
        <div class="row justify-content-center content-about">
            <div class="col-12">
            <p>"<em>Never doubt that a small group of <strong>thoughtful, committed citizens</strong> can change the world; <br>
            indeed, it is <strong>the only thing that ever has</strong>.</em>"</p>
            <p class="author">- Margaret Mead</p>
            </div>
        </div>
        </div>

{% endblock %}