{% extends "base.html" %}
{% block content %}
<div class="title-about">
    <h1><strong>About Us</strong></h1>
</div>
        <div class="container-fluid">
            <div id="hero-image">
                <img src="{{ url_for('static', filename='img/hero.jpg') }}" alt="clothes"/>
            </div> 
        </div>
        <div class ="page-about-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-10">
                    <div class="title-about title-border">
                        <h2> What we believe in
                        </h2>
                    </div>
                </div>
                <div class="col-lg-6 col-10">
                    <div class="text-about">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                            lla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
                            id est laborum
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row margin-what flex-column-reverse flex-lg-row">
                <div class="col-lg-6 col-10">
                    <div class="text-about">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                            lla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
                            id est laborum
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-10">
                    <div class="title-about title-border">
                        <h2> What we do</h2>
                    </div>
                </div>
            </div>
        </div>    
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-10">
                    <div class="title-about title-border">
                        <h2> How to join us
                        </h2>
                    </div>
                </div> 
                <div class="col-lg-6 col-10 ">
                    <div class="text-about">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                            lla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
                            id est laborum
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>

{% endblock %}