<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Sustainables</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('about') }}">Sustainables</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id ="mainNav" class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('about') }}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('get_brands') }}">Sustainable brands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Log In</a>
            </li>
            {% if session.user %}
            <li><a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Log Out</a></li>
                  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ url_for('manage_brands') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage catalogue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('manage_brands') }}">Edit catalogue</a>
            <a class="dropdown-item" href="{{ url_for('add_brands') }}">Add a brand</a>
            </div>
        </li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>
    <div class="container-fluid base">
    {% block content %}
    {% endblock %}
    </div>
        <footer>
            <div id="footer-section">
                <ul class="footer-list">
                    <li><i class="fas fa-home"></i> : 12, Clansriff Avenue, B30 38KR, Skerries, Ireland<br></li>
                    <li><i class="fas fa-phone-alt"></i> : 089 47 85 920 <br></li>
                    <li><a href="https://youtube.com" target="_blank" class="hvr-grow"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://instagram.com" target="_blank" class="hvr-grow"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
        <!-- flash messages from Code Institute -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel"> <i class="fas fa-sun"></i></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5> {{ message }} </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
</html>