{% extends "base.html" %}
{% block content %}

    <div class="title">
        <h1><strong>Start shopping <i class="fas fa-shopping-cart"></i></strong></h1>
    </div>
        <div class="container-fluid img-outer">
            <div class="image image-getbrands">
            <div class="cover-text">
            <h2>
            Bet against fast fashion</h2>
            <div class="cover-text cover-text-2">
            <h2>Make this world a better place
            </h2></div>
            </div>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-12 description-brand">
                    <p class="align">For us, sustainable brands meet at least 2 criteria:
                        <ul>
                            <li><i class="fas fa-leaf"></i> <strong><u>social commitment</u>:</strong> each clothe is manufactured in respect with fundamental labor rights.</li>
                            <li><i class="fas fa-handshake"></i> <strong><u>environmental commitment</u></strong>: eco-responsible materials used in creating items</li>
                </ul></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul>
            <div class="row justify-content-center">
            {% for brand in brands %}
                <div class="col-lg-4 col-md-10 frame-col">
                    <li>
                        <div class="title-brand">
                            <h3>
                                <strong>{{ brand.brand_name }}</strong> 
                            </h3>
                        </div>
                        <div class="content-brand">
                            <strong>Website: </strong><a href="{{ brand.website }}" target="_blank">{{ brand.website }}</a><br>
                            <strong>Location: </strong>{{ brand.country }}<br>
                            <strong>Description: </strong><br><br><p>{{ brand.description }}</p>
                        </div>
                    </li>
                </div>
            {% endfor %}
            </div>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-brand-manage">
                    <p>Craving to <strong>add more details</strong> about your favorite brand?<br>
                    Or worse : is your favorite sustainable brand <strong>not included</strong> in the list?<br></p>
                    <p class="border-white"><br>Please <strong>participate</strong> enhancing the value of this website by managing the current catalogue <br> - in order to create a <strong>better world</strong> <br><br> <strong class="together-word">together</strong></p>
                    <a class="btn btn-black-border-white" href="{{ url_for('manage_brands') }}" role="button">Manage existing catalogue</a>
            </div>

        </div>


    </div>


{% endblock %}