{% extends "base.html" %}
{% block content %}

    <div class="title">
        <h1><strong> Log In <i class="fas fa-door-open"></i></strong></h1>
    </div>

    <div class="row justify-content-center">
        <div class="form-border col-lg-6 col-md-12">
        <form method="POST" action="{{ url_for('login') }}">
                <div class="row justify-content-center">
					<div class="input-field form-group">
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="input-field form-group">
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <button type="submit" class="btn">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
        </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 section-log">
            <p class="align">
                Want to join us?
                <a href="{{ url_for('register') }}" class="btn"">Register</a>
            </p>
        </div>
    </div>

{% endblock %}