{% extends "base.html" %}
{% block content %}
    <div class="title">
        <h1><strong>Manage catalogue <i class="fas fa-edit"></i></strong></h1>
    </div>
        <div class="container-fluid">
            <div class= "row justify-content-center">
                <div class="col-lg-3 manage-catalogue-p">
                    <p>
                        Welcome to our <strong>open catalogue</strong> <br>
                        We are willing to share with all our community the opportunity to <strong>contribuate</strong> with 
                        their own knowledge regarding sustainable brands.<br><br>
                    </p>
                    <p class="p-catalogue-1">
                        Do not hesitate to <strong>update</strong> or <strong>complete</strong> the existing catalogue 
                        with your precious knowledge.
                    </p>
                </div>
                <div class="col-lg-5 image-manage nopadding">
                    <img src="{{ url_for('static', filename='img/manage_brand.jpg') }}" alt="clothes"/>
                </div> 
            </div>
            <div>
                <ul>
                    <div class="row justify-content-center">
                    {% for brand in brands %}
                        <div class="col-lg-4 col-md-10 frame-col">
                            <li>
                                <div class="title-brand">
                                    <h3>
                                        <strong>{{ brand.brand_name }}</strong> 
                                    </h3>
                                </div>
                                <div class="content-brand">
                                    <strong>Website: </strong><a href="{{ brand.website }}" target="_blank">{{ brand.website }}</a><br>
                                    <strong>Location: </strong>{{ brand.country }}<br>
                                    <strong>Description: </strong><br><br><p>{{ brand.description }}</p>
                                </div>
                            </li>
                            <div class="row justify-content-center">
                                <div class="vertical-center">
                                    <a href="{{ url_for('delete_brand', brand_id=brand._id) }}"><button class="btn" type="submit" data-toggle="modal" data-target="#myModal">Delete</button></a>
                                    <a class="btn btn-color btn-edit" href="{{ url_for('edit_brands', brand_id=brand._id) }}">Edit</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </ul>
            </div>        
        </div>
        <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-brand-manage">
                    <p class="p-large">Want to share your own favorite brand?</p>
                    <a class="btn btn-color btn-add" href="{{ url_for('add_brands') }}" role="button">Add a brand</a>
            </div>
        </div>
    </div>
{% endblock %}